body {
	background-color: #BABFCC;
	font-family: helvetica neue, helvetica, sans-serif;
	font-weight: 800;
	
	color: #46484C;
}

h1 {
	padding: 24px 0px;
	font-size: 72px;
	font-family: 'pacifico', cursive;
}


header, section, footer {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

section {
	margin: 24px auto;
}

.text-wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

textarea {
	resize: none;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	border: 1px solid #2D3E40;
	background-color: #eee;
	
	padding: 8px;
	font-size: 16px;
}

input {	
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	background-color: transparent;
	border: 3px solid #46484C;
	color: #46484C;
	
	font-family: Helvetica neue, helvetica, sans-serif;
	font-weight: 800;
	font-size: 20px;
	
	padding: 8px 40px;
}

input:hover {
	background: #46484C;
	color: #BABFCC;

	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
  	-o-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}


nav ul li {
	display: inline;
	padding: 0px 12px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #46484C;
}

a:hover {
	color: #5B6A95;
	
		-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
  	-o-transition: color 0.5s ease-out;
  	transition: color 0.5s ease-out;
}













