<!doctype html>
<html>
<head>
	<meta	charset="UTF-8">
	<title>Notely</title>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<hgroup>
			<h1>Notely</h1>
			<p>Easy online notes</p>
		</hgroup>
	</header>
	
	<section>
		<%= yield %>
	</section>
	
	<footer>
		<nav>
			<ul>
				<li><a href="#">lock note</a></li>
				<li><a href="#">share note</a></li>
				<li><a href="#">change url</a></li>
				<li><a href="#">more</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>