<form action="/<%= @link.id %>" method="post" id="edit">
    <input type="hidden" name="_method" value="put">
    
    <input type="text" name="url" value="<%= @link.url %>">
    <input type="text" name="title" value="<%= @link.title %>">
    <textarea name="desc"><%= @link.desc %></textarea>
    
    <input type="submit" value="Update">
</form>